.product-details img{
    width: 386px;
    height: 286px;
    margin: 6px;
    
}
.product-details{
    width: 400px;
    height: 600px;
    border: 2px solid lightgray;
    margin-bottom: 30px;
    position: relative;   
}
.details{
    margin-left: 10px;
    
}
.button-style{
    width: 100%;
    padding:15px 0;
    background-color: orange;
    color: white;
    font-weight: bolder;
    position: absolute;
    bottom: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-style p{
    margin-right: 10px;
}
.button-style:hover{
    background-color: rgb(255, 69, 69);
    color: gold;
}